# cp docker/dev/.env.example docker/dev/.env して使う

# --- compose が公開するポート ---
WEB_PORT=3000
POSTGRES_PORT=5432

# --- Postgres ---
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=appdb

# --- Next.js から見たDB接続先（サービス名 db で名前解決される） ---
DATABASE_URL=postgres://app:app@db:5432/appdb

NODE_ENV=development

# jwt 関係
AUTH_SECRET="sampfkl;fad;j;dfajk;dafjdfadadsfdk;afj;sdfjk;"
TOKEN_EXPIRATION='7d'

# バッチ関係
SENSOR_BATCH_TIME=120
SENSOR_API_URL=
SLACK_WEBHOOK_URL=

#slack関係
SLACK_WEBHOOK_URL=